service: ${env:SERVICE}

provider:
  name: aws
  runtime: nodejs14.x
  memorySize: 256
  stage: ${opt:stage, 'dev'}
  region: ${env:REGION}
  iamRoleStatements:
    - Effect: 'Allow'
      Action:
        - lambda:InvokeFunction
        - lambda:InvokeAsync
        - dynamodb:GetItem
        - dynamodb:PutItem
      Resource: [
        'arn:aws:dynamodb:sa-east-1:${env:ACCOUNT_ID}:table/employees'
      ]
  iamManagedPolicies:
    - 'arn:aws:iam::aws:policy/service-role/AwsLambdaBasicExecutionRole'
      
plugins:
  - serverless-plugin-typescript
  - serverless-dotenv-plugin
  - serverless-offline

resources:
  Resources:
    EmployeesTable:
      Type: AWS::DynamoDB::Table
      DeletionPolicy: Delete
      Properties:
        TableName: ${env:TABLE_EMPLOYEES}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        BillingMode: PAY_PER_REQUEST

functions:
  createEmployee:
    handler: src/infrastructure/routes/employees/index.postEmployee
    events:
      - http:
          path: /employees
          method: post
          cors: true
          request:
            schema:
              application/json: ${file(.serverless-configurations/schemas/create-employee.json)}

  updateEmployee:
    handler: src/infrastructure/routes/employees/index.putEmployee
    events:
      - http:
          path: /employees/{id}
          method: put
          cors: true
          request:
            parameters:
              paths:
                id: true
            schema:
              application/json: ${file(.serverless-configurations/schemas/update-employee.json)}

  deleteEmployee:
    handler: src/infrastructure/routes/employees/index.deleteEmployee
    events:
      - http:
          path: /employees/{id}
          method: delete
          cors: true
          request:
            parameters:
              paths:
                id: true

  getEmployee:
    handler: src/infrastructure/routes/employees/index.getEmployee
    events:
      - http:
          path: /employees/{id}
          method: get
          cors: true
          request:
            parameters:
              paths:
                id: true
